.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-size: calc(10px + 2vmin);
    color: white;
    font-family: "sf mono";
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }to {
        transform: rotate(360deg);
    }
}

.numinput {
    width: 2em;
    font-family: "sf mono";
    font-size: 1em;
    border-radius: 0.3em;
    background-color: white;
}

.boldinput {
    width: 2em;
    font-family: "sf mono";
    font-size: 1em;
    border-radius: 0.3em;
    background-color: yellow;
    font-weight: bold;
}

.matrixContainer {
    display: grid;
    border-radius: 0.3em;
    background-color: cyan;
    padding: 0.32em;
}

.mainbutton {
    font-size: 1em;
    color: #282c34;
    width: 7em;
    height: 2em;
    background-color: cyan;
    border-radius: 0.5em;
    font-family: "sf mono";
}

.asigPicker {
    font-family: "sf mono";
    text-align: center;
    z-index: 0;
}

.title {
    font-size: 3em;
    color: #282c34;
}

.resultline {
    font-size: 0.7em;
}

.inputmatrix {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #282c34;
}

.steptitle {
    text-decoration: overline underline;
}

/*ESTILIZAR LOS RADIO BUTTONS*/

/* Customize the label (the container) */
.radioContainer {
    display: inline-block;
    position: relative;
    padding-left: 1.5em;
    margin-bottom: 0.2em;
    cursor: pointer;
    font-size: 0.7em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 4em;
}

/* Hide the browser's default radio button */
.radioContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.radioSpan {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.05em;
    width: 1.05em;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radioContainer:hover input ~ .radioSpan {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radioContainer input:checked ~ .radioSpan {
    background-color: dodgerblue;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radioSpan:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioContainer input:checked ~ .radioSpan:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radioContainer .radioSpan:after {
    top: 0.36em;
    left: 0.36em;
    width: 0.35em;
    height: 0.35em;
    border-radius: 50%;
    background: #282c34;
} 

/*eof*/
